/*.header {
	border-width: 2px;
	border-style: solid;
}
.index_img {
	margin-left: 10px;
}
.item1 {
	background-color: green;
	display:block;
}
.item2 {
	background-color: green;
	display:block;
}
.item3 {
	background-color: green;
	display:block;
	margin-left: 10px;
}
.title {
	margin-left: 10px;
	font-size: 100px;
}
.paragraph1 {
	margin-left: 335px;
	display:block;
}
.paragraph2 {
	margin-left: 10px;
	margin-right: 325px;
}
.paragraph3 {
	margin-left: 10px;
}
.paragraph4 {
	margin-right: 325px;
	margin-left: 10px;
}
.categoria {
	margin-left: 20px;
}
.cat_apres {
	margin-left: 10px;
}
.proj_apres {
	margin-left: 10px;
}
.perfil {
	margin-left: 625px;
}
.descricao_perfil {
	margin-left: 540px;
}
.img_projeto {
	margin-left: 1200px;
}
.projeto {
	margin-left: 10px;
}
.categoria_x {
	font-size: 70px;
	margin-left: 10px;
}
.projeto_x {
	font-size: 70px;
	margin-left: 10px;
}
.img_grp1 {
	margin-left: 25px;
	margin-top: 50px;
	display:inline;
}
.membro1 {
	margin-left: 25px;
}
.img_grp2 {
	margin-left: 200px;
	margin-top: 50px;
	display: inline;
}
.img_grp3 {
	margin-left: 1000px;
	display: inline;
}
.ultimo {

}*/